# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# data and artifacts
/data/
reports/
results/
notebooks/
notes.txt

# old code
src/ssl_for_ood/architectures_old/
src/ssl_for_ood/training_old/

# models and checkpoints
*.pt
*.pth
*.ckpt
*.joblib
*.pkl
mlruns/
wandb/
